.header {
  background-color: white !important;
  color: black;
  box-shadow: none;
  margin-top: 20px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: bold;
  color: black;
  margin-right: 20px;
}

.nav-links {
  display: flex;
  gap: 70px;
}

.nav-links a {
  color: black;
  text-transform: none;
}

.search {
  position: relative;
  left: 70px;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 47px;
  width: 368px;
  background-color: #f0f0f0;
  border-radius: 50px;
  padding: 1px;
}

/* .search-input {
  flex: 1;
  border: none;
  outline: none;
  background: none;
  padding: 15px;
}

.search-icon {
  color: #000000;
}

.popper {
  z-index: 1300; 
} */

.search-input {
  width: 300px;
}

.search-icon {
  padding: 10px;
}

.popper-paper {
  margin-top: 80px;
  margin-left: 1030px;
  width: 300px;
}

.popper-list {
  max-height: 200px;
  overflow-y: auto;
}

.popper-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popper-list-item button {
  padding: 0;
}

